body {

	background: #FAFAFA;
	color: #303030;
	font: 17px "Source Sans Pro", sans-serif;

}

* {

	margin: 0;
	padding: 0;

}

section.container {

	background: #FFFFFF;
	box-shadow: 1px 1px 5px 3px #AAAAAA;
	height: 100vh;
	margin: 0 auto;
	width: 55%;

}

a {

	color: inherit;

}

h1 {

	color: #101010;
	font: bold 30px "Open Sans", sans-serif;
	padding: 15px;
	padding-left: 50px!important;

}

p {

	padding-left: 15px;

}