body {

	background: #FAFAFA;
	color: #303030;
	font: 1.05em "Source Sans Pro", sans-serif;
	margin: 0;
	padding: 0;

}

* /* xD */ {

	margin: 0;
	padding: 0;

}

canvas#world {

	height: 100%;
	width: 100%;

}

section.container {

	background: #FFFFFF;
	height: 100vh;
	margin: 0 auto;
	width: 50em;

}

a {

	color: inherit;

}

h1 {

	color: #101010;
	font: bold 1.75em "Open Sans", sans-serif;
	padding: 0.75em;
	padding-left: 1.25em!important;

}

h1#error {

	font-size: 2.25em;

}

p {

	padding-left: 1em;

}